* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    height: 100vh;
    display: grid;
    place-content: center;
}
.mode{
    display: flex;
    text-align: end;
}
.container {
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    color: rgb(0, 0, 0);
}

.heading{
    padding: 20px;
    text-align: center;
    font-size: 30px;
}
.line{
    /* width: calc(100% + 75px);  */
    margin-left: -41px; 
    margin-right: -41px; 
}

.textfield{
   padding: 20px 20px;
   display: flex;
   gap: 10px;
}
.textfield input{
    font-size: 15px;
    padding: 11px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #cf7f7f;
    border-radius: 4px;
    color: rgb(0, 0, 0);
   
}

button {
    font-size: 15px;
    padding: 11px;
    background-color: rgb(215, 111, 111);
    border: 1px solid #000000;
    border-radius: 4px;
    color: rgb(0, 0, 0);
}

button:hover {
    background-color: #bf6363;
    color: rgb(247, 243, 243);
}




.list {
    font-size: 20px;
    width: 100%;
}

.list img {
    cursor: pointer; 
    
}


/*  */

.tooltip {
    position: relative;
    display: inline-block;
    
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.todoTile {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.todoActions {
    display: flex;
    gap: 10px;
}